{% extends 'Globe/basic.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <title>Title</title>
</head>
<style>
  .maindiv {
    width: 100%;
    margin-top: 10%;
    text-align: center;
  }

  #a{
     text-decoration: none;
     font-size: 20px;
     border: none;
     border-bottom: 3px solid green;
     border-radius: 4px;
     cursor: pointer;
     text-transform: uppercase;
     font-weight: bold;
  }

</style>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div class=" maindiv mt-5 mb-5" >
  <h1>Password Reset Successfully</h1>
  <h4>
    Your password has been set. You may go ahead and  now.
  </h4>
  <strong><a href="/login" id="a" class="btn btn-success">login</a></strong>
</div>
</body>
</html>
{% endblock %}
