{% extends 'Globe/basic.html'%}
{% load static%}
{% block content %}
<html>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'css/passs.css' %}">
<body id="body">
<section>
  <div class="container-fluid">
    <div class="login-form mt-0">
    {% if validlink %}
      <h1 id="head1">Change Password</h1>
      <form method="post">
          {% csrf_token %}
          <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="NEW PASSWORD">
          <div class="help">
              <ul>
                  <li>Your password can’t be too similar to your other personal information.</li>
                  <li>Your password must contain at least 8 characters.</li>
                  <li>Your password can’t be a commonly used password.</li>
                  <li>Your password can’t be entirely numeric.</li>
              </ul>
          </div>
          <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="New password confirmation:">
          <input type="submit" value="Change my password" class="btn btn-primary">
      </form>
    </div>
  </div>
</section>
     {% else %}
          <h1 class="alert-heading"><u>Invalid link!</u></h1>
          <h4>
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
          </h4>
     {% endif %}
{% endblock %}
</body>
</html>

