{% extends 'Globe/basic.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <title>Title</title>
</head>
<style>
  .maindiv {
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    text-align: justify;
  }

</style>
<body>
<div class="maindiv mb-5">
  <h1 class="alert-heading"><u>Well done!</u></h1>
  <h4>You are successfully enter in password_reset_done view. </h4>
  <hr>
    <h4>An Email is sent with link to reset your password in your registered Email account.</h4>
</div>
</body>
</html>
{% endblock %}
