{% extends 'Globe/basic.html'%}
{% load static%}
{% block content %}
<html>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'css/passs.css' %}">
<body id="body">
<section>
  <div class="container-fluid ">
    <div class="login-form">
      <h1 id="head1">Forget Password</h1>
      <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder=" Email " required/>
        <input type="submit" value="Request Reset Password" class="bg-primary" />
      </form>
    </div>
  </div>
</section>
{% endblock %}
</body>
</html>

